[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "1.11.1"
asyncpg = "0.29.0"
pydantic = "2.8.2"
pydantic-settings = "2.3.4"
fastapi = {extras = ["all"] }
uvicorn = {extras = ["standard"] }
pytest = "8.3.2"
requests = "2.32.3"
gunicorn = "22.0.0"
psycopg2-binary = "2.9.9"
sqlalchemy = "2.0.31"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
